<div class="banner" style="background-image: linear-gradient(rgba(0,0,0,0.4),rgba(0,0,0,0.4)), url(https://images.pexels.com/photos/958545/pexels-photo-958545.jpeg?auto=compress&cs=tinysrgb&w=600;">
  <div class="container text-center">
    <h1>Welcome to your Recipe Book!</h1>
    <p>Organize and discover amazing recipes in your personalized categories.</p>
  </div>
</div>
<div class="container mt-6">
  <div class="col-md-12 mb-6">
    <div class="card-category" style="background-image: linear-gradient(rgba(0,0,0,0.4),rgba(0,0,0,0.4)), url(https://media.istockphoto.com/id/1184856288/photo/people-eating-and-drinking-wine-at-thanksgiving-celebration-dinner-table.jpg?b=1&s=612x612&w=0&k=20&c=fLrnG5Y25p2zGmfRgaGY-T9HLLstkrCt1OfYqwYnWGM=);">>
      <h2><%= link_to "Create a new category", new_category_path, class: "text-white text-decoration-none" %></h2>
    </div>
  </div>

<div class="container mt-4">
  <div class="row">
    <% @categories.each do |category| %>
      <div class="col-md-4 mb-3">
      <img src="<%= category.recipes.first.image_url %>" alt="Recipe Image" class="recipe-img">
        <div class="card-category">
          <h2><%= link_to category.name, category_path(category), class: "text-black text-decoration-none" %></h2>
          <div class="card-actions">
            <%= link_to category_path(category),
                data: {turbo_method: :delete, turbo_confirm: "Are you sure?" },
                class: "btn btn-danger btn-sm" do %>
              <i class="fa-solid fa-trash"></i>
            <% end %>
          </div>
        </div>
      </div>
    <% end %>
  </div>
</div>
