<div class="banner" style="background-image: linear-gradient(rgba(0,0,0,0.4),rgba(0,0,0,0.4)), url(https://raw.githubusercontent.com/lewagon/fullstack-images/master/uikit/background.png);">
  <div class="container">
    <h1>Welcome to your Recipe Book!</h1>
    <p>Organize and discover amazing recipes in your personalized categories.</p>
    <%= link_to "Add new category", new_category_path, class: "btn btn-flat" %>
  </div>
</div>

<div class="container mt-4">
  <div class="row">
    <% @categories.each do |category| %>
      <div class="col-md-4 mb-3">
        <div class="card-category">
          <h2><%= link_to category.name, category_path(category), class: "text-white text-decoration-none" %></h2>
          <div class="card-actions">
            <%= link_to category_path(category),
                data: {turbo_method: :delete, turbo_confirm: "Are you sure?" },
                class: "btn btn-danger btn-sm" do %>
              <i class="fa-solid fa-trash"></i> Delete
            <% end %>
          </div>
        </div>
      </div>
    <% end %>
  </div>
</div>
